QuanLyRapPhim/GUI/Connected Services/wcfQLRP/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="CreateNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nv" nillable="true" type="q1:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="CreateNhanVienResult" nillable="true" type="q2:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhimById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhimByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetPhimByIdResult" nillable="true" type="q3:ePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRapPhimById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRapPhimByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetRapPhimByIdResult" nillable="true" type="q4:eRapPhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="ve" nillable="true" type="q5:eVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="CreateVeResult" nillable="true" type="q6:eVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetVeResult" nillable="true" type="q7:eVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePhim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="phim" nillable="true" type="q8:ePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePhimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="CreatePhimResult" nillable="true" type="q9:ePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="DangNhapResult" nillable="true" type="q10:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeDoanhThu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idPhim" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeDoanhThuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThongKeDoanhThuResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>