QuanLyRapPhim/GUI/Connected Services/wcfQLRP/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QLRP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entities.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQLRP_CreateNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNhanVien" />
  </wsdl:message>
  <wsdl:message name="IQLRP_CreateNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_GetPhimById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhimById" />
  </wsdl:message>
  <wsdl:message name="IQLRP_GetPhimById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhimByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_GetRapPhimById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRapPhimById" />
  </wsdl:message>
  <wsdl:message name="IQLRP_GetRapPhimById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRapPhimByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_CreateVe_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVe" />
  </wsdl:message>
  <wsdl:message name="IQLRP_CreateVe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVeResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_GetVe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVe" />
  </wsdl:message>
  <wsdl:message name="IQLRP_GetVe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVeResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_CreatePhim_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhim" />
  </wsdl:message>
  <wsdl:message name="IQLRP_CreatePhim_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhimResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_DangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:DangNhap" />
  </wsdl:message>
  <wsdl:message name="IQLRP_DangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IQLRP_ThongKeDoanhThu_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeDoanhThu" />
  </wsdl:message>
  <wsdl:message name="IQLRP_ThongKeDoanhThu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeDoanhThuResponse" />
  </wsdl:message>
  <wsdl:portType name="IQLRP">
    <wsdl:operation name="CreateNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/CreateNhanVien" message="tns:IQLRP_CreateNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/CreateNhanVienResponse" message="tns:IQLRP_CreateNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhimById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/GetPhimById" message="tns:IQLRP_GetPhimById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/GetPhimByIdResponse" message="tns:IQLRP_GetPhimById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRapPhimById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/GetRapPhimById" message="tns:IQLRP_GetRapPhimById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/GetRapPhimByIdResponse" message="tns:IQLRP_GetRapPhimById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVe">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/CreateVe" message="tns:IQLRP_CreateVe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/CreateVeResponse" message="tns:IQLRP_CreateVe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVe">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/GetVe" message="tns:IQLRP_GetVe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/GetVeResponse" message="tns:IQLRP_GetVe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePhim">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/CreatePhim" message="tns:IQLRP_CreatePhim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/CreatePhimResponse" message="tns:IQLRP_CreatePhim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/DangNhap" message="tns:IQLRP_DangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/DangNhapResponse" message="tns:IQLRP_DangNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeDoanhThu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLRP/ThongKeDoanhThu" message="tns:IQLRP_ThongKeDoanhThu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLRP/ThongKeDoanhThuResponse" message="tns:IQLRP_ThongKeDoanhThu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQLRP" type="tns:IQLRP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNhanVien">
      <soap:operation soapAction="http://tempuri.org/IQLRP/CreateNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhimById">
      <soap:operation soapAction="http://tempuri.org/IQLRP/GetPhimById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRapPhimById">
      <soap:operation soapAction="http://tempuri.org/IQLRP/GetRapPhimById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVe">
      <soap:operation soapAction="http://tempuri.org/IQLRP/CreateVe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVe">
      <soap:operation soapAction="http://tempuri.org/IQLRP/GetVe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePhim">
      <soap:operation soapAction="http://tempuri.org/IQLRP/CreatePhim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangNhap">
      <soap:operation soapAction="http://tempuri.org/IQLRP/DangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeDoanhThu">
      <soap:operation soapAction="http://tempuri.org/IQLRP/ThongKeDoanhThu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QLRP">
    <wsdl:port name="BasicHttpBinding_IQLRP" binding="tns:BasicHttpBinding_IQLRP">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QLRPWCFServices/QLRP/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>